!!!
%html{:lang => "en"}
  %head
    %title Queue Example
    %link(href="/Bootstrap/dist/css/bootstrap.min.css" media="screen" rel="stylesheet")
    %script(src="jquery-2.1.1.min.js")
  %body
    = yield
