%h1 Queue Example
.row
  .col-md-12
    %label{for: 'msg'} Message:
    %input#msg{type: 'text'}
    1
    %input#number{type: 'range', min: '1', max: '1000'}
    1000
    %button#send{class:'btn btn-primary'} Send
.row
  #results.col-md-6
%script(src="queue.js")